@import url(world.css);

main{
    float: left;
    text-align: center;
    width: 100%;
    height: auto;
    margin: 15% auto;
    display: grid;
}
@media (max-width:450px){
    main{
        margin: 20vh auto;
    }
}
aside{
    width: 15%;
    height: 100vh;
    float: left;
    box-shadow: #00000045 1px 1px 30px 0px;
    margin: -11px 0;
    position: fixed;
}
aside h1{
    margin: 45px auto 20px;
}
@media (max-width:450px){
    aside{
        width: 40%;
        background: white;
        display: none;
        margin: 0;
    }
    aside h1{
        margin-top: 25px;
    }
}
.fa-bars{
    display: none;
    width: 30px;
    margin: 10px;
    cursor: pointer;
    font-size: 20px;
}
.fa-xmark{
    font-size: 30px;
    position: absolute;
    right: 5px;
    margin-top: 5px;
    color: rgb(0, 0, 0);
    display: none;
}
#my-aside.open {
    display: block;
}
@media (max-width:450px){
    .fa-bars,.fa-xmark{
        display: block;
    }
}
aside .categorias,aside .marcas{
    width: 80%;
    margin: 1vh auto;
    display: flex;
    justify-content: left;
    align-items: center;
}
.contenidoDell,.contenidoLenovo,.contenidoAcer ,.contenidoHp{
    width: 85%;
    margin: 0 15% 0;
}
@media (max-width:450px){
    .contenidoDell,.contenidoLenovo,.contenidoAcer,.contenidoHp{
        width: 100%;
        margin: 0;
    }
}
.contenidoLenovo,.contenidoAcer,.contenidoHp{
    display: none;
}
.contenidoDell .laptops-dell,.contenidoLenovo .laptops-dell,.contenidoAcer .laptops-dell,.contenidoHp .laptops-dell{
    display: flex;
    padding: 1px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.laptops-dell .laptops{
    background: rgb(255, 255, 255);
    width: 20%;
    height: 30vh;
    margin: 20px 5px;
    box-shadow: 0px 0px 2px 0px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
}
.laptops img{
    width: 90%;
    margin: 0 auto;
    height: 140px;
    object-fit: cover;
}
@media (max-width:450px){
    .laptops-dell .laptops{
        width: 40%;
        height: 20vh;
    }
    .laptops img{
        width: 150px;
        height: 150px;
    }
}
.ops{
    width: 100%;
    height: 5vh;
    display: flex;
    margin-top: 2vh;
    text-align: left;
    justify-content: space-around;
    align-items: center;

}
.ops .fa-heart,.fa-bookmark,.fa-cart-shopping{
    font-size: 20PX;
    cursor: pointer;
    color: black;
}
@media (max-width:450px){
    .ops{
        height: auto;
        margin-top: -2rem;
    }
    .ops .fa-heart,.fa-bookmark,.fa-cart-shopping{
        font-size: 15px;
    }
}
.fa-heart:hover{
    color: rgba(255, 0, 0, 0.525);
}
.fa-heart.active {
    color: rgb(255, 0, 0);
    animation:  tun 2s ease-in-out;
}
@keyframes tun{
    0%{
        transform: scale(0.5);
    }50%{
        transform: scale(1.1);
    }100%{
        transform: scale(1.0);
    }
}
.fa-bookmark:hover{
    color: rgb(82, 86, 86);
}
.fa-bookmark.active{
    color: rgb(185, 179, 179);
    animation: gr 2s ease-in-out;
}
@keyframes gr{
    10%{
        transform: rotate(10deg);
    }50%{
        transform: rotate(-10deg);
    }100%{
        transform: rotate(0deg);
    }
}