@import url(world.css);
@import url(animaciones.css);

.main {
    width: 100%;
    height: 70vh;
    margin-top: 15%;
    text-align: center;
}

/* Estilo predeterminado para pantallas más grandes */
.estado {
    height: 15vh;
    width: 16%;
    position: fixed;
    top: 60%;
    right: 0px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg width=\'229\' height=\'101\' viewBox=\'0 0 229 101\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath d=\'M229 27.1793C229 23.0375 225.839 19.5806 221.713 19.2112L17.4654 0.922089C6.77647 -0.0350366 -1.80562 9.59472 0.370941 20.1034L15.6832 94.0326C16.5061 98.0055 20.1727 100.733 24.2145 100.38L221.698 83.0937C225.83 82.732 229 79.2721 229 75.1242V27.1793Z\' fill=\'url(%23paint0_linear_1_440)\'/%3E%3Cdefs%3E%3ClinearGradient id=\'paint0_linear_1_440\' x1=\'4.23943\' y1=\'-21.8636\' x2=\'141.077\' y2=\'70.7067\' gradientUnits=\'userSpaceOnUse\'%3E%3Cstop stop-color=\'%23FF8954\'/%3E%3Cstop offset=\'1\' stop-color=\'%23FF560A\'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-weight: 600;
    animation: entrada 2s ease-in-out;
    cursor: pointer;
}

.estado2 {
    height: 15vh;
    width: 40%;
    right: 0px;
    top: 50%;
    position: fixed;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg width=\'229\' height=\'101\' viewBox=\'0 0 229 101\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath d=\'M229 27.1793C229 23.0375 225.839 19.5806 221.713 19.2112L17.4654 0.922089C6.77647 -0.0350366 -1.80562 9.59472 0.370941 20.1034L15.6832 94.0326C16.5061 98.0055 20.1727 100.733 24.2145 100.38L221.698 83.0937C225.83 82.732 229 79.2721 229 75.1242V27.1793Z\' fill=\'url(%23paint0_linear_1_440)\'/%3E%3Cdefs%3E%3ClinearGradient id=\'paint0_linear_1_440\' x1=\'4.23943\' y1=\'-21.8636\' x2=\'141.077\' y2=\'70.7067\' gradientUnits=\'userSpaceOnUse\'%3E%3Cstop stop-color=\'%23FF8954\'/%3E%3Cstop offset=\'1\' stop-color=\'%23FF560A\'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    animation: entrada2 2s ease-in-out;
    cursor: pointer;
    display: none;
}

.estado .fa-laptop-medical {
    color: white;
    font-size: 20px;
    margin-right: 10px;
}

.estado .sg {
    font-size: 13px;
    margin: 0 auto;
    font-weight: 100;
}

.main .sp {
    font-weight: 100;
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.main .soluciones {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.ops {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.solu {
    width: 20%;
    height: auto;
    display: flex;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    display: grid;
    padding: 10px;
    font-size: 14px;
}

.solu .fa-wifi,
.fa-temperature-full,
.fa-power-off,
.fa-display,
.fa-slack {
    font-size: 20px;
}

.solu:hover {
    background: rgba(255, 68, 0, 0.652);
    color: rgb(0, 0, 0);
}

.solu.selected {
    background-color: orangered;
    color: white;
}

.contenido {
    width: 80%;
    height: 40vh;
    margin: 40px auto;
    display: flex;
    justify-content: space-evenly;
}

.contenido .pasos {
    width: 20%;
    margin: 1px;
    border-radius: 10px;
    background: ghostwhite;
    border: rgba(0, 0, 0, 0.357) solid .5px;
    cursor: pointer;
}
@media (max-width:450px) {
    .main {
        margin-top: 40%;
        width: 100%;
    }
    .estado {
        display: none;
    }
    .estado2 {
        display: block;
        height: 15vh;
        width: 45%;
    }
    .estado2 .sg {
        color: rgb(255, 255, 255);
        margin-top: 30px;
        font-weight: 500;
        font-size: 15px
    }
    .main .sp {
        font-size: 25px;
    }
    .ops {
        width: 100%;
    }
    .solu {
        height: auto;
        padding: 5px;
        font-size: 10px;
    }
    .contenido{
        width: 100%;
        height: auto;
        flex-wrap: wrap;
    }
    .contenido .pasos{
        width: 80%;
        height: auto;
        margin: 10px auto;
        flex-direction: row;
    }
}
.pasos h1 {
    background: var(--y);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-top: -15px;
    border: rgba(0, 0, 255, 0.357) solid .5px;
}

.pasos h2 {
    font-size: 20px;
    margin: 30px auto;
}

.pasos i {
    font-size: 30px;
    background: rgba(0, 67, 252, 0.14);
    padding: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.pasos h3 {
    font-size: 20px;
    font-weight: 100;
    margin: 20px 5px;
}
.recomendaciones{
    width: 100%;
    height: auto;
    background-image: url(../../img/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
}
.recomendaciones h1{
    margin-top: 60px;
}
.reco{
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;

}
.reco .recs{
    width: 20%;
    background: white;
    height: 40vh;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px;
    cursor: pointer;
    padding: 10px;
}
.recs .pasos{
    background-color: orangered;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: -20px;
}
.recs img{
    width: 150px;
    border-radius: 50%;
    height: 150px;
    margin: 20px auto;
}
.recs:hover{
    transform: scale(1.1);
}
.recuerda{
    width: 66%;
    margin: 4rem auto;
    text-align: left;
}
@media (max-width:450px){
    .recomendaciones{
        width: 100%;
        background-size: cover;
        margin-bottom: 20px;
    }
    .recomendaciones h1{
        font-size: 30px;
    }
    .reco{
        width: 90%;
        margin: 0 auto;
        margin-top: 60px;
        display: block;
    }
    .reco .recs{
        width: 90%;
        height: auto;
        margin: 50px auto;
        cursor: pointer;
        padding: 0;
    }
    .recs .pasos{
        background-color: orangered;
        color: white;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 0 auto;
        margin-top: -20px;
    }
    .recs img{
        width: 150px;
        border-radius: 50%;
        height: 150px;
        margin: 20px auto;
    }
    .recs p{
        display: block;
        font-size: 25px;
    }
    .recuerda{
        width: 100%;
        margin: 4rem auto;
        text-align: left;
    }
}