@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: #000000;
    color: #fff;
    text-align: center;
}

header img {
    width: 7%;
    display: block;
    margin: 0 auto;
}

header h1 {
    font-variant: small-caps;
    /* font-family: 'Tektur', cursive; */
    font-family: 'Orbitron', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
}

@keyframes subir {
    0% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-5px);
    }
}

header h1 span {
    display: inline-block;
    animation: subir 1.1s infinite;
}
nav{
    width: 100%;
    background: #000;
    margin-top: -1.7%;
    color: #fff;
    height: auto;
}
nav ul{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
nav ul li{
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    cursor: pointer;
    padding: 10px;
}
nav ul li:hover,nav ul li.active{
    color: magenta;
}