@import url(World.css);

.main{
    float: left;
    text-align: center;
    width: 100%;
    height: 70vh;
    margin: 14% auto;
}
@media (max-width:420px){
    .main{
        margin: 14vh auto;
    }
}