@import url(world.css);

main{
    float: left;
    text-align: center;
    width: 100%;
    height: auto;
    margin: 15% auto;
    display: grid;
}
@media (max-width:420px){
    main{
        margin: 16vh auto;
    }
}
aside{
    width: 15%;
    height: 100vh;
    float: left;
    box-shadow: #00000045 1px 1px 30px 0px;
    margin: -11px 0;
    position: fixed;
}
aside h1{
    margin: 45px auto;
}
@media (max-width:420px){
    aside{
        width: 40%;
        background: white;
        display: none;
    }
    aside h1{
        margin-top: 50px;
    }
}
.fa-bars{
    display: none;
    width: 30px;
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
}
.fa-xmark{
    font-size: 30px;
    position: absolute;
    right: 0px;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
#my-aside.open {
    display: block;
}
@media (max-width:420px){
    .fa-bars{
        display: block;
    }
}
aside .categorias,aside .marcas{
    width: 80%;
    margin: 1vh auto;
    display: flex;
    justify-content: left;
    align-items: center;
}
.contenidoDell h1, .contenidoLenovo h1 {
    text-align: center;
    margin: 10px auto;
}
.contenidoDell,.contenidoLenovo {
    width: 85%;
    margin: -11px 15% 0;
}
@media (max-width:420px){
    .contenidoDell,.contenidoLenovo{
        width: 100%;
        margin: 0;
    }
}
.contenidoLenovo{
    display: none;
}
.contenidoDell .laptops-dell,.contenidoLenovo .laptops-dell{
    display: flex;
    padding: 1px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.laptops-dell .laptops{
    background: rgb(255, 255, 255);
    width: 20%;
    height: 30vh;
    margin: 20px 5px;
    box-shadow: 0px 0px 2px 0px;
    border-radius: 10px;
}
.laptops img{
    width: 200px;
    height: 200px;
}
@media (max-width:420px){
    .laptops-dell .laptops{
        width: 40%;
        height: 20vh;
    }
    .laptops img{
        width: 150px;
        height: 150px;
    }
}